body{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}
.h1{
    font-size: 28px;
}
.h2{
    font-size: 30px;
}
.h3{
    font-size: 24px;
    font-weight: bold;
}
header{
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background: #ffffff;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.logo{
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    color: #448899;
    padding: 12px 0px;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #666666;
}
nav ul li{
    line-height: 1;
    padding: 19px 10px; /* for vertical-align */
    cursor: pointer;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    width: 100%;
    height: 320px;
    background-image: url("/img/welcome.png"), linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    color: #ffffff;
}
.welcome{
    padding: 10px;
    width: 1200px;
}
.slogan{
    margin: 15px 0px 25px 0px;
}
.search{
    position: relative;
}
.search .search-keyword{
    width: 370px;
    margin: 0px;
    padding: 15px;
    border: none; border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
}
.search .search-icon{
    background-color: #448899;
    border-radius: 0px 5px 5px 0px;
    margin: 0px;
    padding: 9px 15px;
    vertical-align: bottom;
}
.search .categories-menu{
    display: none;   
}
.search .categories-menu--open{
    display: block;
    position: absolute;
    top: 51px;
    z-index: 999;
    width: 400px;
    background: #ffffff;
    border-radius: 5px;
}
.search .out-of-categories-menu{
    display: none;
    position: fixed;
    z-index: 998; /* under keyword-categories */
    top: 0px; left: 0px;   
    width: 100%; height: 100%;
}
.search .categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #000000;
    font-size: 14px;
}
.search .category{
    grid-column: span 1;
    padding-left: 15px; padding-right: 15px;
    padding-top: 11px; padding-bottom: 11px;
    border-radius: 5px;
}
.search .category:hover{
    background-color: #E8E8E8;
    cursor: pointer;
}
.attractions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 40px auto; /* 40px to hero-section and footer */
    width: calc(1200px - 15px * 2); /* include padding */
    padding: 15px;
}
.attraction{
    grid-column: span 1;
    position: relative; /* for child element using absolute position */
    border: 1px #e8e8e8 solid;
    border-radius: 5px;
}
.attraction img{
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 5px 5px 0px 0px;
}
.attraction .attraction-img{
    object-fit: cover;
}
.attraction .attraction-name{
    position: absolute;
    bottom: 45px;
    padding: 10px;
    width: calc(100% - 10px * 2); /* include padding */
    background-color: rgba(0, 0, 0, 60%);
    color: #ffffff;
}
.attraction .attraction-infos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    color: #757575;
    height: 45px;
}
.attraction .attraction-mrt{
    width: 50%;
    text-align: left;
    padding: 10px;
}
.attraction .attraction-category{
    width: 50%;
    text-align: right;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    background-color: #757575;
    color: #ffffff;
}
/* CSS media query */
/* 600px < size <= 1200px */ 
@media screen and (max-width: 1200px){
    nav{
        width: 90%;
    }
    .welcome{
        width: 90%;
    }
    .attractions{
        width: 90%;
        grid-template-columns: repeat(2, 1fr); /* change to 2 columns */
    }
}
/* 360px < size <= 600px */ 
@media screen and (max-width: 600px){
    nav{
        width: 90%;
    }
    .welcome{
        width: 90%;
    }
    .search .search-keyword{
        width: 195px;
    }
    .search .categories-menu--open{
        width: 90%;
    }
    .attractions{
        width: 90%;
        grid-template-columns: auto; /* only 1 column */
    }
}
