.title {
    font-size: 19px;
    font-weight: bold;
}
.sub-title {
    font-weight: bold;
    margin: 20px 0px;
}
button {
    font-size: 16px;
}
.hr-solid {
    width: 100%;
    border: 0px;
    border-top: 1px solid #E8E8E8;
    margin: 40px 0px;
}

main {
    width: 1200px;
    margin: 100px auto;
}
section {
    width: 100%;
    padding: 0px 110px;
}
.container, .container div {
    margin: 20px 0px;
}

.order__info {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
}
.order__info div {
    margin: 0px; /* Reset order info with grid */
}
.order-number {
    color: #448899;
    font-weight: bold;
}

.content {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 30px;
}
.content img {
    width: 100%;
    height: 200px;
}
.content .attraction-img {
    object-fit: cover;
}
.info .attraction-name {
    color: #448899;
    font-weight: bold;
    margin-bottom: 30px;
}

/* CSS media query */
/* 600px < size <= 1200px */ 
@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
    section {
        padding: 0px;
    }
}
/* Mobile: 360px < size <= 600x */ 
@media screen and (max-width: 600px) {
    main {
        width: 90%;
    }   
    section {
        padding: 0px;
    }
    .order__info {
        grid-template-columns: auto;
    }
    .content {
        grid-template-columns: auto;
        grid-template-rows: 255px auto;
        align-items: center;
    }
}