main {
    width: 1200px;
    margin: 100px auto;
}

.thankyou div {
    text-align: center;
    line-height: 1.5;
}
.order-number {
    margin: 50px auto;
    color: #448899;
}

/* CSS media query */
/* 600px < size <= 1200px */ 
@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
}
/* Mobile: 360px < size <= 600x */ 
@media screen and (max-width: 600px) {
    main {
        width: 90%;
    }
}