{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/attraction.css">
{% endblock %}

{% block section %}
<section class="carousel-profile-booking">
    <div class="carousel" id="carousel"></div>
    <div class="profile-booking">
        <div class="dialog-title" id="name"></div>
        <div class="profile"><span id="category"></span> at <span id="mrt"></span></div>
        <div class="booking">
            <div><span class="title">訂購導覽行程</span></div>
            <div><p>以此景點為中心的一日行程，帶您探索城市角落故事</p></div>
            <div><span class="title">選擇日期：</span><input type="date" placeholder="yyyy/mm/dd" required /></div>
            <div>
                <span class="title">選擇時間：</span>
                <label for="time-morning" class="radio">
                    <input type="radio" name="time" id="time-morning" value="morning" class="radio-input" checked />
                    <span class="radio-custom"></span>上半天
                </label>
                <label for="time-afternoon" class="radio">
                    <input type="radio" name="time" id="time-afternoon" value="afternoon" class="radio-input" />
                    <span class="radio-custom"></span>下半天
                </label>
            </div>
            <div>
                <span class="title">導覽費用：</span>新台幣 <span id="price">2000</span> 元
            </div>
            <button>開始預約行程</button>                    
        </div>
    </div>
</section>
<hr class="hr-solid" />
<section class="attraction-description-address-transport">
    <article>
        <p id="description"></p>
    </article>
    <article>
        <div><span class="title">景點地址：</span></div>
        <p id="address"></p>            
    </article>
    <article>
        <div><span class="title">交通方式：</span></div>
        <p id="transport"></p>
    </article>
</section>
{% endblock %}

{% block script %}   
<script type="text/javascript", src="/js/attraction.js"></script>
{% endblock %}