<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="headline logo">台北一日遊</div>
            <ul>
                <li id="user-booking">預定行程</li>
                <li id="user">登入/註冊</li>
            </ul>
        </nav>
    </header>
    <main>
        <aside class="user__modal">
            <div class="user__modal-fade"></div>    
            <div class="user__modal-dialog">
                <div class="user__modal-banner"></div>
                <div class="user__modal-content">
                    <div class="user__modal-header">
                        <div class="user__modal-title dialog-title">登入會員帳號</div>
                        <img src="/img/icon_close.png" class="user__modal__close-icon">
                    </div>                    
                    <div class="user__modal-body">
                        <input type="text" placeholder="輸入名稱" id="user-name" style="display: none;" required />
                        <div style="height: 10px;"></div>
                        <input type="email" placeholder="輸入電子信箱" id="user-email" required />
                        <div style="height: 10px;"></div>
                        <input type="password" placeholder="輸入密碼" id="user-password" required />
                        <div style="height: 10px;"></div>
                        <button id="user-action-btn">登入帳戶</button>
                        <div style="height: 10px;"></div>
                        <div id="user-action-result" class="user-action-result"></div>
                        <div style="height: 10px;"></div>
                        <div><span id="user-action-msg">還沒有帳戶？</span><span id="user-action-switch" style="cursor: pointer;">點此註冊</span></div>           
                    </div>
                </div>
            </div>
        </aside>
    {% block section %}
    {% endblock%}
    </main>
    <footer>
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script>
        const logo = document.querySelector(".logo");
        logo.addEventListener("click", () => { window.location.href = "/"; }); // Back to homepage
        let userData = {};
    </script>
    <script type="module", src="/js/user.js"></script>
    {% block script %}{% endblock %}
</body>
</html>