{% extends "base.html" %}

{% block title %}預定行程{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/booking.css">
{% endblock %}

{% block section %}
<section class="bookings">
    <div class="bookings__header title">您好，<span id="welcome-user-name"></span>，待預定的行程如下：</div>
    <div class="bookings__body--none">目前沒有任何待預訂的行程</div>
    <div class="bookings__body"></div>
    <div class="bookings__footer">
        <div class="title">您的聯絡資訊</div>
        <div>聯絡姓名：<input type="text" id="contact-name" /></div>
        <div>聯絡信箱：<input type="text" id="contact-email" /></div>
        <div>手機號碼：<input type="text" id="contact-phone" /><span class="contact-phone--error" id="contact-phone-error"></span></div>
        <div class="sub-title">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        <hr class="hr-solid" />
        <div class="title">信用卡付款資訊</div>
        <div class="card-info"><div>卡片號碼：</div><div class="tpfield" id="card-number"></div></div>
        <div class="card-info"><div>過期時間：</div><div class="tpfield" id="card-expiration-date"></div></div>
        <div class="card-info"><div>驗證密碼：</div><div class="tpfield" id="card-ccv"></div></div>
        <hr class="hr-solid" />
        <div class="confirm">
            <div class="sub-title">總價：新台幣 <span id="total-price"></span> 元</div>
            <button id="payment-btn">確認訂購並付款</button>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script type="module", src="/js/booking.js"></script>
{% endblock %}
