{% extends "base.html" %}

{% block title %}台北一日遊{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}

{% block section %}
<section class="hero-section">
    <div class="hero-section__banner">
        <div class="hero-section__title headline">輕鬆享受台北一日悠閒</div>
        <div class="hero-section__slogan">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search">
            <input type="text" placeholder="輸入景點名稱查詢" class="search__keyword" id="keyword" /><img src="/img/index/icon_search.png" title="搜尋" class="search__search-icon" id="search">
            <div class="search__categories-close"></div>
            <div class="search__categories">
                <div class="categories" id="categories"></div>
            </div>
        </div>
    </div>
</section>
<section class="attractions" id="attractions"></section>
{% endblock %}

{% block script %}
<script type="module" src="/js/index.js"></script>
<script type="module">
    import * as User from "/js/user.js";
    import * as Index from "/js/index.js";
    
    /* Init user features */
    User.UserController.init();

    /* Init attractions features */
    Index.AttractionsController.init();

    /* Init categories features */
    Index.CategoriesController.init();
</script>
{% endblock %}