{% extends "base.html" %}

{% block title %}Taipei Trip 台北一日遊 2.0{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}

{% block section %}
<section class="hero-section">
    <div class="hero-section__banner">
        <div class="headline">輕鬆享受台北一日悠閒</div>
        <div class="hero-section__slogan">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search">
            <input type="text" placeholder="輸入景點名稱查詢" class="search__keyword" id="keyword" onclick="openCategoriesMenu()" />
            <img src="/img/index/icon_search.png" class="search__search-icon" onclick="searchAttractions()">
            <div class="out-of-categories-menu" onclick="closeCategoriesMenu()"></div>
            <div class="categories-menu">
                <div class="categories" id="categories"></div>
            </div>
        </div>
    </div>
</section>
<section class="attractions" id="attractions"></section>
{% endblock %}

{% block script %}
<script type="text/javascript", src="/js/attractions_index.js"></script>
{% endblock %}